.other-tree-view{
  position: relative;

  button{
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: 1px solid gray;
    background: #f3dd08;
    // background: #f00;
    padding: 10px;
  }
  img{
    width: 100vw;
    height: 100vh;
  }


  i, .apple, .water{
    position: absolute;
  }

  .apple{
    width: 40px;
    height: 45px;
    border-radius: 50%;
    opacity: .95;
  }

  // .tree{
  //   left: 50%;
  //   bottom: 50px;
  //   font-size: 200px;
  //   color: #209e15;
  //   // width: 200px;
  //   transform: translateX(-50%);
  // }

  .water{
    width: 35px;
    height: 40px;
    opacity: .8;
    border-radius: 50%;
  }

  .bubble{
    color: rgba(49, 240, 246, .5);
    font-size: 50px;
  }

  .bubble-container{
    position: absolute;
  }
  .bubble-val{
    font-size: 10px;
    color: red;
    position: absolute;
    top: 20px;
    left: 5px;
  }
  .fa-apple{
    color: red;
    font-size: 50px;
  }

  .grow-info{
    border: 1px solid #82d55c;
    border-radius: 50px;
    width: 100px;
    font-size: 12px;
    color: red;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
    overflow: hidden;

    span{
      position: relative;
    }
    .current-grow{
      height: 100%;
      position: absolute;
      background: #f28d06;
      display: inline-block;
      left: 0;
    }

  }
}
